@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(12, 12, 12);
  font-family: 'Inter';
}

@font-face {
  font-family: 'Tangerine';
  src: url('fonts/Tangerine-Regular.ttf');
}
@font-face {
  font-family: 'Inter';
  src: url('fonts/InterVariable.ttf');
}